.buy-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
}

.buy-card-header h3 {
    margin: 0;
    color: #444;
}

.live-price-display {
    font-weight: 600;
    font-size: 0.9rem;
}