.openAccount{
    margin-top: 5rem;
}
.head-hero-openAccount{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 2rem 0 1rem 0;
    color: #424242;
}
.para-hero-openAccount{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.65rem;
    margin-bottom: 1.5rem;
    color: #6f6b67;
}